<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EditUserProfile</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EditProfileServlet</display-name>
    <servlet-name>EditProfileServlet</servlet-name>
    <servlet-class>Controler.EditProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfileServlet</servlet-name>
    <url-pattern>/EditProfileServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewProfileServlet</display-name>
    <servlet-name>ViewProfileServlet</servlet-name>
    <servlet-class>Controler.ViewProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProfileServlet</servlet-name>
    <url-pattern>/ViewProfileServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewInterestServlet</display-name>
    <servlet-name>ViewInterestServlet</servlet-name>
    <servlet-class>Controler.ViewInterestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewInterestServlet</servlet-name>
    <url-pattern>/ViewInterestServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditInterestServlet</display-name>
    <servlet-name>EditInterestServlet</servlet-name>
    <servlet-class>Controler.EditInterestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditInterestServlet</servlet-name>
    <url-pattern>/EditInterestServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddInterestServlet</display-name>
    <servlet-name>AddInterestServlet</servlet-name>
    <servlet-class>Controler.AddInterestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddInterestServlet</servlet-name>
    <url-pattern>/AddInterestServlet.do</url-pattern>
  </servlet-mapping>
</web-app>